# If you want to know who's root, run this query in MySQL
# USE mysql;
# SELECT user,host FROM user;
# If you want to login via CMD
# mysql --host=localhost --user=root --password=root cis_363_project
# Then execute query... well that query doesn't work here but only in the workbench
[client]
database = cis_363_project
user = root
password = root
default-character-set = utf8